<div class="passanger-item">
    <span class="status" [class.checked-in]="details.checkedIn"></span>
    <div *ngIf="!editing">{{ details.fullName }}</div>
    <div>
        <input
                *ngIf="editing"
                type="text"
                [value]="details.fullName"
                (input)="onNameChange(name.value)"
                #name>
    </div>

    <div class="date">
        Check in date: {{ details.checkInDate ? (details.checkInDate | date:'dd-MM-y') : 'not checked in'}}
    </div>
    <button (click)="toggleEdit()">
        {{ editing ? 'Done' : 'Edit'}}
    </button>
    <button (click)="removePassenger()">Remove</button>
    <button (click)="goToPassenger()">View</button>


</div>
